ejb/tests/ims-eportfolio/etc/src/main/catalog/imsCommonSchema_v1p0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--
	IPR, License and Distribution Notices
	This machine readable file is derived from IMS specification IMS Enterprise Services Common Data Definitions
	found at http://www.imsglobal.org/es/ and the original IMS schema binding or code base 
	http://www.imsglobal.org/es/esv1p0/imscommon_infov1p0.html.
	
	Recipients of this document are requested to submit, with their comments, notification of any relevant patent 
	claims or other intellectual property rights of which they may be aware that might be infringed by the schema 
	binding contained in this document.
	
	IMS takes no position regarding the validity or scope of any intellectual property or other rights that might be 
	claimed to pertain to the implementation or use of the technology described in this document or the extent to 
	which any license under such rights might or might not be available; neither does it represent that it has made 
	any effort to identify any such rights. Information on IMS’s procedures with respect to rights in IMS specifications 
	can be found at the IMS Intellectual Property Rights web page: http://www.imsglobal.org/ipr/imsipr_policyFinal.pdf.
	
	Copyright © IMS Global Learning Consortium 1999-2007. All Rights Reserved.
	
	License Notice for Users
	Users of products or services that include this document are hereby granted a worldwide, royalty-free, 
	non-exclusive license to use this document.
	
	Distribution Notice for Developers
	Developers of products or services that provide distribution of this document as is or with modifications are 
	required to register with the IMS community on the IMS website as described in the following two paragraphs:
	
	- If you wish to distribute this document as is, with no modifications, you are hereby granted permission to copy, 
	display and distribute the contents of this document in any medium for any purpose without fee or royalty provided 
	that you include this IPR, License and Distribution notice in its entirety on ALL copies, or portions thereof, that you 
	make and you complete a valid license registration with IMS and receive an email from IMS granting the license. 
	To register, follow the instructions on the IMS website: http://www.imsglobal.org/specificationdownload.cfm. Once 
	registered you are granted permission to transfer unlimited distribution rights of this document for the purposes 
	of third-party or other distribution of your product or service that incorporates this document as long as this IPR, 
	License and Distribution notice remains in place in its entirety.
	
	- If you wish to create and distribute a derived work from this document, you are hereby granted permission to copy, 
	display and distribute the contents of the derived work in any medium for any purpose without fee or royalty provided 
	that you include this IPR, License and Distribution notice in its entirety on ALL copies, or portions thereof, that you 
	make and you complete a valid profile registration with IMS and receive an email from IMS granting the license. To 
	register, follow the instructions on the IMS website: http://www.imsglobal.org/profile/. Once registered you are 
	granted permission to transfer unlimited distribution rights of the derived work for the purposes of third-party or 
	other distribution of your product or service that incorporates the derived work as long as this IPR, License and 
	Distribution notice remains in place in its entirety.
	
	The limited permissions granted above are perpetual and will not be revoked by IMS or its successors or assigns.
	
	THIS SPECIFICATION IS BEING OFFERED WITHOUT ANY WARRANTY WHATSOEVER, AND IN PARTICULAR, 
	ANY WARRANTY OF NONINFRINGEMENT IS EXPRESSLY DISCLAIMED. ANY USE OF THIS SPECIFICATION 
	SHALL BE MADE ENTIRELY AT THE IMPLEMENTER’S OWN RISK, AND NEITHER THE CONSORTIUM, NOR 
	ANY OF ITS MEMBERS OR SUBMITTERS, SHALL HAVE ANY LIABILITY WHATSOEVER TO ANY IMPLEMENTER 
	OR THIRD PARTY FOR ANY DAMAGES OF ANY NATURE WHATSOEVER, DIRECTLY OR INDIRECTLY, ARISING 
	FROM THE USE OF THIS SPECIFICATION.
-->
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"
	 targetNamespace = "http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "IMS COMMON 1.0.2"
	 elementFormDefault = "qualified">
	<xsd:annotation>
		<xsd:documentation>Service:		Common Data Definitions
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Component:	XML Schema Definition
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Author:		Colin Smythe
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Date:		29th November, 2004
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Version:		1.0.2
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Status:		Final Release
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Comments:	The XSD for the Common Data Definitions.
										The structues defined within this file are:
										
										(1) comments - 'comments' element;
										(2) dataSourceDType - data type for the 'dataSource' element;
										(3) email - 'email' element;
										(4) identifier - unique 'identifier' element;
										(5) identifierPair - pair of identifiers element;
										(6) identifierPairSetDType - the set of pair of identifeir data type;
										(7) identifierSetDType - the set of identifiers data type;
										(8) IMSextensionAnyDType - data type for extensions used in SOAP messages;
										(9) IMSextensionDType - data type for element extensions using the 'ANY" structure;
										(10) LangStringDType - data type for the 'langString' element;
										(11) RecordMetaDataDType - data type for the 'recordMetaData' element;
										(12) restrictDataDType - data type for the 'restrictData' element;
										(13) SeqLangStringDType - data type for the sequence of langage strings;
										(14) timeFrameDType - data type for the 'timeFrame' element;
										(15) URL - 'URL' element;
										(16) userIdDTYpe - data type for the 'userId' element.
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>History:		Version 1.0.2 - 29th November, 2004
										Version 1.0.1 - 2nd October, 2004
										Version 1.0.0 - 5th July, 2004
		
		
		
		</xsd:documentation>
		<xsd:documentation>Amendments:	29 November 2004 (Colin Smythe - csmythe@imsglobal.org)  Added the 'xsd:' prefix to the definition of 'anyType' in the 'IMSextensionAnyDType' complex type;
										21 September 2004 (Alex Jackl - ajackl@imsglobal.org)  Added 'IMSextensionAnyDType' complex type;
										2nd October 2004 (Colin Smythe - csmythe@imsglobal.org) Added more comments;
		
		
		
		
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name = "date" type = "xsd:date"/>
	<xsd:element name = "restrict" type = "xsd:boolean"/>
	<xsd:complexType name = "RestrictDateDType">
		<xsd:sequence>
			<xsd:element ref = "date"/>
			<xsd:element ref = "restrict"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "begin" type = "RestrictDateDType" nillable = "true"/>
	<xsd:element name = "end" type = "RestrictDateDType" nillable = "true"/>
	<xsd:element name = "adminPeriod">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "32"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name = "TimeFrameDType">
		<xsd:sequence>
			<xsd:element ref = "begin" minOccurs = "0"/>
			<xsd:element ref = "end" minOccurs = "0"/>
			<xsd:element ref = "adminPeriod" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "identifier">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "1024"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "comments">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "2048"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name = "RecordMetaDataDType">
		<xsd:sequence>
			<xsd:element ref = "comments"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "userIdValue">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "256"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "userIdType">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "32"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "passWord">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "1024"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "pwEncryptionType">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "32"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "authenticationType">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "32"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name = "UserIdDType">
		<xsd:sequence>
			<xsd:element ref = "userIdValue"/>
			<xsd:element ref = "userIdType" minOccurs = "0"/>
			<xsd:element ref = "passWord" minOccurs = "0"/>
			<xsd:element ref = "pwEncryptionType" minOccurs = "0"/>
			<xsd:element ref = "authenticationType" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "IdentifierSetDType">
		<xsd:sequence>
			<xsd:element ref = "identifier" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "fieldName">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "2048"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "fieldType">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "2048"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "fieldValue">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "2048"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "extensionField">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fieldName"/>
				<xsd:element ref = "fieldType"/>
				<xsd:element ref = "fieldValue"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name = "IMSextensionDType">
		<xsd:sequence>
			<xsd:element ref = "extensionField" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "language">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:enumeration value = "en-US"/>
				<xsd:enumeration value = "en-GB"/>
				<xsd:enumeration value = "aa"/>
				<xsd:enumeration value = "ab"/>
				<xsd:enumeration value = "af"/>
				<xsd:enumeration value = "am"/>
				<xsd:enumeration value = "ar"/>
				<xsd:enumeration value = "as"/>
				<xsd:enumeration value = "ay"/>
				<xsd:enumeration value = "az"/>
				<xsd:enumeration value = "ba"/>
				<xsd:enumeration value = "be"/>
				<xsd:enumeration value = "bg"/>
				<xsd:enumeration value = "bh"/>
				<xsd:enumeration value = "bi"/>
				<xsd:enumeration value = "bn"/>
				<xsd:enumeration value = "bo"/>
				<xsd:enumeration value = "br"/>
				<xsd:enumeration value = "aa"/>
				<xsd:enumeration value = "ca"/>
				<xsd:enumeration value = "co"/>
				<xsd:enumeration value = "cs"/>
				<xsd:enumeration value = "cy"/>
				<xsd:enumeration value = "da"/>
				<xsd:enumeration value = "de"/>
				<xsd:enumeration value = "dz"/>
				<xsd:enumeration value = "el"/>
				<xsd:enumeration value = "eo"/>
				<xsd:enumeration value = "es"/>
				<xsd:enumeration value = "et"/>
				<xsd:enumeration value = "eu"/>
				<xsd:enumeration value = "fa"/>
				<xsd:enumeration value = "fi"/>
				<xsd:enumeration value = "fj"/>
				<xsd:enumeration value = "fo"/>
				<xsd:enumeration value = "fr"/>
				<xsd:enumeration value = "fy"/>
				<xsd:enumeration value = "ga"/>
				<xsd:enumeration value = "gd"/>
				<xsd:enumeration value = "gl"/>
				<xsd:enumeration value = "gn"/>
				<xsd:enumeration value = "gu"/>
				<xsd:enumeration value = "ha"/>
				<xsd:enumeration value = "he"/>
				<xsd:enumeration value = "hi"/>
				<xsd:enumeration value = "hr"/>
				<xsd:enumeration value = "hu"/>
				<xsd:enumeration value = "hy"/>
				<xsd:enumeration value = "ia"/>
				<xsd:enumeration value = "id"/>
				<xsd:enumeration value = "ie"/>
				<xsd:enumeration value = "ik"/>
				<xsd:enumeration value = "is"/>
				<xsd:enumeration value = "it"/>
				<xsd:enumeration value = "iu"/>
				<xsd:enumeration value = "ja"/>
				<xsd:enumeration value = "jw"/>
				<xsd:enumeration value = "ka"/>
				<xsd:enumeration value = "kk"/>
				<xsd:enumeration value = "kl"/>
				<xsd:enumeration value = "km"/>
				<xsd:enumeration value = "kn"/>
				<xsd:enumeration value = "ko"/>
				<xsd:enumeration value = "ks"/>
				<xsd:enumeration value = "ku"/>
				<xsd:enumeration value = "ky"/>
				<xsd:enumeration value = "la"/>
				<xsd:enumeration value = "ln"/>
				<xsd:enumeration value = "lo"/>
				<xsd:enumeration value = "lt"/>
				<xsd:enumeration value = "lv"/>
				<xsd:enumeration value = "mg"/>
				<xsd:enumeration value = "mi"/>
				<xsd:enumeration value = "mk"/>
				<xsd:enumeration value = "ml"/>
				<xsd:enumeration value = "mn"/>
				<xsd:enumeration value = "mo"/>
				<xsd:enumeration value = "mr"/>
				<xsd:enumeration value = "ms"/>
				<xsd:enumeration value = "mt"/>
				<xsd:enumeration value = "my"/>
				<xsd:enumeration value = "na"/>
				<xsd:enumeration value = "ne"/>
				<xsd:enumeration value = "nl"/>
				<xsd:enumeration value = "no"/>
				<xsd:enumeration value = "oc"/>
				<xsd:enumeration value = "om"/>
				<xsd:enumeration value = "or"/>
				<xsd:enumeration value = "pa"/>
				<xsd:enumeration value = "pl"/>
				<xsd:enumeration value = "ps"/>
				<xsd:enumeration value = "pt"/>
				<xsd:enumeration value = "qu"/>
				<xsd:enumeration value = "rm"/>
				<xsd:enumeration value = "rn"/>
				<xsd:enumeration value = "ro"/>
				<xsd:enumeration value = "ru"/>
				<xsd:enumeration value = "rw"/>
				<xsd:enumeration value = "sa"/>
				<xsd:enumeration value = "sd"/>
				<xsd:enumeration value = "sg"/>
				<xsd:enumeration value = "sh"/>
				<xsd:enumeration value = "si"/>
				<xsd:enumeration value = "sk"/>
				<xsd:enumeration value = "sl"/>
				<xsd:enumeration value = "sm"/>
				<xsd:enumeration value = "sn"/>
				<xsd:enumeration value = "so"/>
				<xsd:enumeration value = "sq"/>
				<xsd:enumeration value = "sr"/>
				<xsd:enumeration value = "ss"/>
				<xsd:enumeration value = "st"/>
				<xsd:enumeration value = "su"/>
				<xsd:enumeration value = "sv"/>
				<xsd:enumeration value = "sw"/>
				<xsd:enumeration value = "ta"/>
				<xsd:enumeration value = "te"/>
				<xsd:enumeration value = "tg"/>
				<xsd:enumeration value = "th"/>
				<xsd:enumeration value = "ti"/>
				<xsd:enumeration value = "tk"/>
				<xsd:enumeration value = "tl"/>
				<xsd:enumeration value = "tn"/>
				<xsd:enumeration value = "to"/>
				<xsd:enumeration value = "tr"/>
				<xsd:enumeration value = "ts"/>
				<xsd:enumeration value = "tt"/>
				<xsd:enumeration value = "tw"/>
				<xsd:enumeration value = "ug"/>
				<xsd:enumeration value = "uk"/>
				<xsd:enumeration value = "ur"/>
				<xsd:enumeration value = "uz"/>
				<xsd:enumeration value = "vi"/>
				<xsd:enumeration value = "vo"/>
				<xsd:enumeration value = "wo"/>
				<xsd:enumeration value = "xh"/>
				<xsd:enumeration value = "yi"/>
				<xsd:enumeration value = "yo"/>
				<xsd:enumeration value = "za"/>
				<xsd:enumeration value = "zh"/>
				<xsd:enumeration value = "zu"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "text">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "2048"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name = "LangStringDType">
		<xsd:sequence>
			<xsd:element ref = "language"/>
			<xsd:element ref = "text"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "firstId">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "1024"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "secondId">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "1024"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name = "IdentifierPairDType">
		<xsd:sequence>
			<xsd:element ref = "firstId"/>
			<xsd:element ref = "secondId"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name = "IdentifierPairSetDType">
		<xsd:sequence>
			<xsd:element ref = "identifierPair" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "identifierPair" type = "IdentifierPairDType"/>
	<xsd:element name = "dataSource">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "2048"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "email">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "2048"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "URL">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "4096"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name = "seqLangStringDType">
		<xsd:sequence>
			<xsd:element ref = "LangString" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "LangString" type = "LangStringDType"/>
</xsd:schema>