ejb/tests/ims-eportfolio/src/main/catalog/imsGroupManDataSchema_v1p0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.imsglobal.org/services/gms/xsd/imsGroupManDataSchema_v1p0"
	 targetNamespace = "http://www.imsglobal.org/services/gms/xsd/imsGroupManDataSchema_v1p0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 xmlns:cmx = "http://www.imsglobal.org/services/common/imsCommonSchema_v1p0"
	 version = "IMS GMSDATA 1.0.0"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://www.imsglobal.org/services/common/imsCommonSchema_v1p0" schemaLocation = "http://www.imsglobal.org/services/common/imsCommonSchema_v1p0.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Service:		Group Management
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Component:	XML Schema Definition for the Group Data Model.
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Author:		Colin Smythe
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Date:		5th July, 2004
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Version:		1.0
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Status:		Final Release
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Comments:	WSDL for the IMS Group Management Service. Using SOAPv1.1/HTTPv1.1 as the transport mechanism.
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>History:		N/A
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Copyright:	(c) IMS Global Learning Consortium Inc.  All Rights Reserved.
										IMS Global Learning Consortium, Inc. (IMS) is publishing the information contained in this binding (“Specification”) 
										for purposes of scientific, experimental and scholarly collaboration only.  IMS makes no warranty or representation 
										regarding the accuracy or completeness of the Specification.  This material is provided on an “As Is’ and “As Available” 
										basis.  The Specification is at all times subject to change and revision without notice.  It is your sole responsibility 
										to evaluate the usefulness, accuracy and completeness of the Specification as it relates to you.  IMS would appreciate 
										receiving your comments and suggestions.  Please contact IMS through our website at: http://www.imsglobal.org.
		
		
		
		
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name = "relation">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:enumeration value = "KnownAs"/>
				<xsd:enumeration value = "Parent"/>
				<xsd:enumeration value = "Child"/>
				<xsd:enumeration value = "1"/>
				<xsd:enumeration value = "2"/>
				<xsd:enumeration value = "3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "sourceId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "cmx:identifier"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "label">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "32"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name = "RelationshipDType">
		<xsd:sequence>
			<xsd:element ref = "relation"/>
			<xsd:element ref = "sourceId"/>
			<xsd:element ref = "label"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "enrollAccept" type = "xsd:boolean"/>
	<xsd:element name = "enrollAllowed" type = "xsd:boolean"/>
	<xsd:complexType name = "EnrollControlDType">
		<xsd:sequence>
			<xsd:element ref = "enrollAccept" minOccurs = "0"/>
			<xsd:element ref = "enrollAllowed" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "orgName">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "256"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "orgUnit">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "256"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "orgType">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "32"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "id">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "256"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name = "OrgDType">
		<xsd:sequence>
			<xsd:element ref = "orgName" minOccurs = "0"/>
			<xsd:element ref = "orgUnit" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element ref = "orgType" minOccurs = "0"/>
			<xsd:element ref = "id" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "descShort">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "64"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "descLong">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "256"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "descFull">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "2048"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name = "DescriptionDType">
		<xsd:sequence>
			<xsd:element ref = "descShort"/>
			<xsd:element ref = "descLong" minOccurs = "0"/>
			<xsd:element ref = "descFull" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "type">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "256"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "level">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "2"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:complexType name = "TypeValueDType">
		<xsd:sequence>
			<xsd:element ref = "type"/>
			<xsd:element ref = "level"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "scheme">
		<xsd:simpleType>
			<xsd:restriction base = "xsd:string">
				<xsd:maxLength value = "256"/>
				<xsd:minLength value = "1"/>
				<xsd:whiteSpace value = "preserve"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "typeValue" type = "TypeValueDType"/>
	<xsd:complexType name = "GroupTypeDType">
		<xsd:sequence>
			<xsd:element ref = "scheme"/>
			<xsd:element ref = "typeValue" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "groupType" type = "GroupTypeDType"/>
	<xsd:element name = "recordInfo" type = "cmx:RecordMetaDataDType"/>
	<xsd:element name = "timeFrame" type = "cmx:TimeFrameDType"/>
	<xsd:element name = "relationship" type = "RelationshipDType"/>
	<xsd:element name = "enrollControl" type = "EnrollControlDType"/>
	<xsd:element name = "org" type = "OrgDType"/>
	<xsd:element name = "description" type = "DescriptionDType"/>
	<xsd:complexType name = "GroupDType">
		<xsd:sequence>
			<xsd:element ref = "groupType"/>
			<xsd:element ref = "recordInfo" minOccurs = "0"/>
			<xsd:element ref = "cmx:email" minOccurs = "0"/>
			<xsd:element ref = "cmx:URL" minOccurs = "0"/>
			<xsd:element ref = "timeFrame" minOccurs = "0"/>
			<xsd:element ref = "relationship" minOccurs = "0" maxOccurs = "unbounded"/>
			<xsd:element ref = "enrollControl" minOccurs = "0"/>
			<xsd:element ref = "org" minOccurs = "0"/>
			<xsd:element ref = "description" minOccurs = "0"/>
			<xsd:element ref = "cmx:dataSource" minOccurs = "0"/>
			<xsd:element ref = "extension" minOccurs = "0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name = "extension" type = "cmx:IMSextensionDType"/>
</xsd:schema>